/include/ "system-conf.dtsi"
/ {
	model = "Enclustra ME-XU1-15EG-1E-D12E-G1 SOM";
	aliases {
		spi2 = "/amba/spi@ff040000";
	};
};
#include "zynqmp_enclustra_common.dtsi"
#include "zynqmp_enclustra_mercury_st1.dtsi"
#include "zynqmp_enclustra_mercury_xu1.dtsi"

/ {
	amba {
           spi@ff040000 {
            spidev@0 {
				compatible = "spidev";
				reg = <0>;
				//spi-cs-high;
				spi-max-frequency = <400000>;
    		};
        };
	};
};

&i2c0 {
	i2cswitch@70 {
		    	compatible = "nxp,pca9548";
			 	#address-cells = <1>;
		    	#size-cells = <0>;
		        reg = <0x70>;
				i2c@0{
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
					// ina226@40 {
					// 	compatible = "ti,ina226";
					// 	reg = <0x40>;
					// 	shunt-resistor = <5000>;
					// 	};
					// ina226@44 {
					// 	compatible = "ti,ina226";
					// 	reg = <0x44>;
					// 	shunt-resistor = <5000>;
					// 	};
					// ina226@41 {
					// 	compatible = "ti,ina226";
					// 	reg = <0x41>;
					// 	shunt-resistor = <1000>;
					// 	};
					// ina226@45 {
					// 	compatible = "ti,ina226";
					// 	reg = <0x45>;
					// 	shunt-resistor = <1000>;
					// 	};
				};
				i2c@2{
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
					temp-sensor@1c {
						compatible = "maxim,max6698";
						reg = <0x1c>;
						smbus-timeout-disable;
						resistance-cancellation;
						alert-mask = <0x72>;
						over-temperature-mask = <0x7f>;
					};
				};
	};
};


&spi1 { 
        spidev@0 {
            compatible = "spidev";
            reg = <0>;
			//spi-cs-high;
            spi-max-frequency = <400000>;
    };
};

&debug_bridge_0 {
        compatible = "xlnx,xvc";
};
// /{
// 	reserved-memory {
//       #address-cells = <1>;
//       #size-cells = <1>;
//       ranges;
  
//       reserved: axilite@80000000{
// 		compatible = "shared-dma-pool";
// 		no-map;
//         reg = <0x80000000 0x00001000>;
// 		linux,cma-default;
//       };
//    };
//};
